.fall{
    background-color: fuchsia;
}
.Ok{
    background-color: blue;
    width: 300px;
    height: 150px;
}
.Good{
    background-color: blueviolet;
}
.very{
    background-color: aqua;
}
.Good{
    background-color: darkcyan;
}